<section class="wrapper">
    <section class="align">
        <section class="text">
            GET IN TOUCH
        </section>
        <P>Please complete the form and we will <br> get back to you</P>
        
    </section>
    
    <div class="vl"></div>
    <section>
        
        <form>
            <label for="name">Name *</label><br>
            <input type="text" id="name" name="name" placeholder="Enter You Name" required><br>
            <label for="email">Email *</label><br>
            <input type="email" id="email" name="email" placeholder="Enter Your Email" required><br><br>
            <label for="number">Mobile Number *</label><br>
            <input type="number" id="number" name="number" placeholder="Enter your Mobile Number" required><br><br>
            <input type="submit" id="btn" value="Register Now">
        </form>
    </section>
</section>
